@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
}

.header_main {
    width: 1619px;
    height: 850px;
    background: url(./assets/icons/Background.svg)
}

.container {
    width: 1145.5px;
    height: 66px;
    padding: 34px 236.5px 0 237px;
    display: flex;
    gap: 375px;
}

.brand {
    display: flex;
    align-items: center;
}

.icons {
    display: flex;
    gap: 32px;
}

.navbar {
    display: flex;
    gap: 391px;
}

.navigation {
    list-style: none;
    position: absolute;
    right: -100px;
    transition: all 0.3s;
}

ul.show {
    right: 20px;
}

.header {
    background: transparent;
    border: none;
}

.header:hover {
    cursor: pointer;
}

.header:active {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: var(--pink);
}

.container_2 {
    width: 1182px;
    height: 583px;
    display: flex;
    gap: 95px;
    padding: 64px 271px 103px 166px;
}

.about_beats_img {
    padding-top: 107px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.hear_music {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.hear_feel_it {
    width: 205px;
    height: 31px;
}

.move_with_music {
    font-size: 99.17px;
    line-height: 99.17px;
    font-weight: 700;
    width: 517px;
    height: 282px;
}

.buy_expense {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.expense {
    display: flex;
    gap: 30px;
    align-items: center;
}

.real_price {
    opacity: 70%;
    text-decoration: line-through;
}

.buy_now {
    padding: 15px 46px;
    color: var(--pink);
    background: var(--bgwhite);
    border: none;
    border-radius: 62px;
}

.buy_now:hover {
    cursor: pointer;
}

.buy_now:active {
    transition: 0.2s;
    background: var(--pink);
    color: var(--bgwhite);
}

.container_3 {
    margin: 130px 235.59px 0px 241.59px;
    width: 1141.824px;
    height: 594px;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 70px;
}

.collection_2021 {
    display: flex;
    justify-content: center;
}

.collection {
    width: 508px;
    height: 101px;
    text-align: center;
    display: flex;
}

.new_collection {
    display: flex;
    gap: 313px;
    height: 423px;
    align-items: center;
}

.beats_arrow {
    display: flex;
    gap: 67px;
    align-items: center;
}

.beats_img_3 {
    position: absolute;
    top: 100px;
    left: 250px;
    z-index: 111;
}

.beats_arrow_2 {
    display: flex;
    gap: 72px;
    align-items: center;
}

.container_4 {
    width: 1149.092px;
    height: 605px;
    display: flex;
    gap: 187px;
}

.good_headphones {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.headphones_need {
    width: 460px;
    height: 171px;
}

.need_things {
    display: flex;
    flex-direction: column;
    gap: 41px;
}

.icon_text {
    display: flex;
    gap: 115px;
}

.icon_headphones {
    position: relative;
}

.part {
    position: absolute;
}

.part_2 {
    position: absolute;
    top: 48px;
    left: -1px;
}

.part_3 {
    position: absolute;
    top: 12px;
    left: 12px;
}

.part_4 {
    position: absolute;
    top: 35px;
    left: 30px;
}

.bluetooth {
    position: absolute;
    top: 30px;
    left: 30px;
}

.microphone {
    position: absolute;
    top: 30px;
    left: 31px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.text_2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.picture_headphone {
    position: relative;
    display: flex;
    align-items: center
}

.picture_earphone {
    width: 332px;
    height: 474px;
    z-index: 111;
}

.icon_freepik {
    position: absolute;
    top: -1px;
    left: 140px;
    width: 308.74px;
    height: 355.4px;
}

.icon_rotate {
    position: absolute;
    top: 430px;
    left: -120px;
}

.icon_rotate_2 {
    position: absolute;
    top: 400px;
    left: 280px;
    rotate: -130deg;
}

.container_5 {
    width: 1146px;
    height: 651px;
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.latest_products {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.lorem_ipsum {
    width: 557px;
    height: 48px;
    text-align: center;
    line-height: 24px;
}

.cards {
    display: flex;
    gap: 63px;
}

.cards_2 {
    display: flex;
    gap: 66px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.card_1 {
    width: 332px;
    height: 331px;
    border-radius: 30px;
    background: var(--bgpink);
    position: relative;
}

.card_2 {
    width: 332px;
    height: 331px;
    border-radius: 30px;
    background: var(--bggreen);
    position: relative;
}

.card_3 {
    width: 332px;
    height: 331px;
    border-radius: 30px;
    background: var(--bggreen-2);
    position: relative;
}

.shopping_icon {
    position: relative;
}

.circle {
    position: absolute;
    left: 280px;
    top: -20px;
}

.shopping {
    position: absolute;
    left: 305px;
    top: 5px;
    z-index: 111;
}

.beats_image {
    position: absolute;
    left: 24px;
    top: -57px;
}

.beats_image_2 {
    position: absolute;
    left: 14px;
    top: -59px;
}

.ratings_costs {
    display: flex;
    flex-direction: column;
    gap: 15.59px;
}

.rate {
    display: flex;
    gap: 98.97px;
}

.costs {
    display: flex;
    gap: 79px;
}

.rate_2 {
    display: flex;
    gap: 101.97px;
}

.costs_2 {
    display: flex;
    gap: 97px;
}

.rate_3 {
    display: flex;
    gap: 104.97px;
}

.costs_3 {
    display: flex;
    gap: 98px;
}

.container_6 {
    width: 1069px;
    height: 577px;
    display: flex;
    gap: 17px;
}

.advantages {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 20px;
}

.advantages_icon {
    display: flex;
    gap: 15px;
}

.adv_icon {
    width: 20px;
    height: 20px;
}

.about_box {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.container_7 {
    width: 1235.24px;
    height: 323.23px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    margin: 120.77px 206.28px 0 177.48px;
}

.background_img {
    position: absolute;
    bottom: 22px;
}

.subscribe-container {
    width: 712px;
    height: 292px;
    background: var(--darkpink);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe_email {
    width: 504px;
    height: 184px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: center;
}

.input_email {
    width: 503px;
    height: 61px;
    background: var(--bgwhite);
    border-radius: 73px;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.email_input {
    opacity: 30%;
    font-size: 18px;
    font-weight: 400;
    border: none;
    color: var(--black);
    padding-left: 30px;
}

.email_input:focus {
    outline: none;
    color: var(--black);
    opacity: 100%;
}

.email_subscribe {
    padding: 15px 30px;
    background: var(--pink);
    color: var(--bgwhite);
    border: none;
    border-radius: 50px;
}

.container_8 {
    margin-top: 130px;
    width: 1622px;
    height: 189px;
    background: var(--footercolor);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 360.96px;
}

.navigation_2 {
    list-style: none;
    display: flex;
    gap: 31.87px;
}

.nav_social_media {
    display: flex;
    gap: 210.86px;
    align-items: center;
}

.footer-nav {
    text-decoration: none;
}

.social-media {
    display: flex;
    gap: 35px;
}

.media {
    position: relative;
}

.instagram {
    position: absolute;
    top: 15px;
    left: 15px;
}

.twitter {
    position: absolute;
    top: 16px;
    left: 15px;
}

.facebook {
    position: absolute;
    top: 15px;
    left: 19px;
}